<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /familymatch/
  # Allow direct access to existing files and directories
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  # Otherwise, forward to index.php
  RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
  # If we don't have mod_rewrite installed, all 404's
  # can be sent to index.php, and everything works as normal.
  # Submitted by: ElliotHaughin
    ErrorDocument 404 /index.php
</IfModule>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin: "*"
    Header set Access-Control-Allow-Methods: "GET, POST, OPTIONS, PUT, DELETE"
    Header set Access-Control-Allow-Headers: "Content-Type, Authorization, X-Requested-With, X-API-KEY, Accept, Referer"
</IfModule>